# O Banco de dados nativo do EasyPanel deve ser configurado na interface com essas credenciais
# POSTGRES_DB=classpro
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=sua_senha_do_banco

DATABASE_URL=postgres://postgres:sua_senha_do_banco@sistemas_despesa-facil-db:5432/classpro?sslmode=disable

JWT_SECRET=troque_esse_segredo_em_producao
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

PORT=3000
