DATABASE_URL=postgres://postgres:fc86aef5168ac8513316@sistemas_despesa-facil-db:5432/classpro?sslmode=disable
JWT_SECRET=umasenhasecretaqualquer2026
NODE_ENV=production
FRONTEND_URL=https://sistemas-classpro-app.xblval.easypanel.host/
